<div class="footer">
  <div class="row">
    <div class="medium-12 text-center">
      <p>&copy; Second Shooter - Brad Johnson | 123-456-5555 | info@secondshooter.com</p>
    </div>
  </div>
</div>

  </body>
</html>