<h1>Hope this works</h1>

<% @users.each do |user| %>

	<table>
		<tbody>
			<tr>
				<td>Name: <%= @user.email %></td>
      	<td>Content Goes Here</td>
     		<td>Content Goes Here</td>
			</tr>
		</tbody>
	</table>

<% end %>