<div class="row">
<div class="small-8 small-centered columns">
<h1>Profile Setup</h1>

<% @users.each do |user| %>
<% end %>

<p>123456 This is where I plan to put a profile page once I giure out how to do it!  Use your imagination and
visualize the awesome profile set up form that will be here!</p>


</div><!-- columns -->
</div><!-- row -->