<div class="row">
	<div class="small-8 small-centered columns">


	<h2><%= @users.first_name %></h2>


	<h1>Profile Setup</h1>

	 <p>This is where I plan to put a profile page once I figure out how to do it!  Use your imagination and
	visualize the awesome profile set up form that will be here!</p>


	</div><!-- columns -->
</div><!-- row -->