<div class="featured-photog">
	<div class="container-fluid">
		<div class="row">
			<div class="small-12 columms text-center">
				<h2>Featured Photographer</h2>
					<% user = User.last %>
					<h2><%= link_to(user.last) %></h2>
					<p><%= user.website %></p>
					<p><%= user.location %></p>
					<p><%= number_to_currency(user.hourly_rate) %>/hr</p>
			</div>
		</div><!-- row -->
	</div><!-- container-fluid -->
</div><!-- featured photog -->