		<div class="navbar navbar-inverse navbar-fixed-bottom text-center">
			<div class="container">
			  <p>&copy; Second Shooter - Brad Johnson | 123-456-5555 | info@secondshooter.com</p>
			</div><!-- container -->
		</div><!-- navbar -->
  </body>
</html>