<div class="about">
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>About Second Shooter</h2>
			<p>Bacon ipsum dolor sit amet flank beef ribs ball tip meatball leberkas tongue. Chicken salami ham, shoulder boudin kevin tri-tip fatback pork belly beef prosciutto andouille shankle pastrami meatball. Porchetta jerky doner, short ribs shoulder biltong ribeye kielbasa pancetta flank sirloin ball tip cow tongue beef ribs. Strip steak sausage filet mignon jowl, tail pork loin kevin fatback ribeye leberkas ground round beef ribs. Pig tongue shankle cow kielbasa sirloin t-bone. T-bone shoulder tenderloin tongue ground round ribeye andouille beef jowl, pig venison.</p>
		</div>
	</div>
</div>
</div>