<div class="container-fluid">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div>
			<h2>Second Shooter</h2>
			<p>It's 12pm the Friday before your two-hundred guest wedding and the phone rings.  It's your second shooter, she's sick.</p>
		</div>
		<div>
			<h2>Fear Not</h2>
			<p>I have plans to make this a bad ass, animated slider.  But lo, I'm a noob and haven't gotten there yet.</p>
		</div>
		<div>
			<h2>So Awesome</h2>
			<p>We'll get you a second shooter in no time.</p>
		</div>
	</div><!-- row -->
</div><!--container -->

<div class="container-fluid">
	<div class="features">
		<div class="row">
				<div class="col-md-4">
				<h3>Awesome Features</h3>
					<p>Bacon ipsum dolor sit amet porchetta tri-tip doner jowl short loin turducken, swine ham hock biltong pork chop turkey hamburger flank tenderloin leberkas. Strip steak pancetta shank, meatloaf brisket pork belly ball tip bresaola.</p>
				</div>
				<div class="col-md-4">
				<h3>Awesome Features</h3>
					<p>Bacon ipsum dolor sit amet porchetta tri-tip doner jowl short loin turducken, swine ham hock biltong pork chop turkey hamburger flank tenderloin leberkas. Strip steak pancetta shank, meatloaf brisket pork belly ball tip bresaola.</p>
				</div>
				<div class="col-md-4">
				<h3>Awesome Features</h3>
					<p>Bacon ipsum dolor sit amet porchetta tri-tip doner jowl short loin turducken, swine ham hock biltong pork chop turkey hamburger flank tenderloin leberkas. Strip steak pancetta shank, meatloaf brisket pork belly ball tip bresaola.</p>
				</div>
			</div>
		</div>
	</div>
</div>


<%= render 'shared/featured_photog' %>


