// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.features {
	margin-top: 300px;
	padding: 50px;
	background: #eee;
}

.featured-photog {
	margin: 150px 0 150px 0;
}

.about {
	margin-top: 150px;
}

.container {
    margin-top: 20px;
}


