// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_all {
	margin-top: 75px;
}

.edit {
	margin-top: 75px;
}

.sign_up {
	margin-top: 110px;
}

.show {
	margin-top: 75px;
}
